* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto Condensed;
    background: linear-gradient(to left, #8942a8, #ba392f);
    width: 100%;
    height: 100vh;
}

li, a, button{
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

header{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

h2{
    text-align: center;
    margin-top: 20%;
    color: white;
}

.logo{
    cursor: pointer;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.nav__links{
    list-style-type: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #FFE5B4;
}

button{
    padding: 9px 25px;
    background-color: rgba(139,66,163,43);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta{
 
 

}

.cta:hover{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(139,66,163,0.8);
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 3px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }

}

